all_flows
[{"id":"57167a5.f304a84","type":"tab","label":"influxDB"},{"id":"14a6b72.f6e6f49","type":"tab","label":"grafana"},{"id":"a9917cb9.cf9f9","type":"influxdb","z":"","hostname":"bd","port":"8086","protocol":"http","database":"mydb","name":"","usetls":false,"tls":""},{"id":"bd61ef92.efe67","type":"influxdb","z":"","hostname":"bd","port":"8086","protocol":"http","database":"mydb","name":"","usetls":false,"tls":""},{"id":"9c42c95f.f19e98","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"Pi2_NR-Live","usetls":false,"verifyservercert":true,"compatmode":false,"keepalive":"15","cleansession":true,"willTopic":"DEVICES/PI2NR-LIVE","willQos":"1","willRetain":"false","willPayload":"Offline","birthTopic":"DEVICES/PI2NR-LIVE","birthQos":"1","birthRetain":"false","birthPayload":"Online"},{"id":"cbfba93b.4c9438","type":"influxdb","z":"","hostname":"bd","port":"8086","protocol":"http","database":"mydb","name":"","usetls":false,"tls":""},{"id":"74e63556.490f4c","type":"influxdb","z":"","hostname":"bd","port":"8086","protocol":"http","database":"mydb","name":"","usetls":false,"tls":""},{"id":"7f586825.eaf868","type":"influxdb in","z":"57167a5.f304a84","influxdb":"cbfba93b.4c9438","name":"show power measurements","query":"SELECT* FROM \"Puissance_generale\"","x":529.8571472167969,"y":230.1428680419922,"wires":[["3e9abf1a.37e83"]]},{"id":"d663ccac.ac07","type":"inject","z":"57167a5.f304a84","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":278.1071472167969,"y":239.9283905029297,"wires":[["7f586825.eaf868"]]},{"id":"a8f0ba96.ee8058","type":"influxdb in","z":"57167a5.f304a84","influxdb":"cbfba93b.4c9438","name":"delete power measurements","query":"DROP MEASUREMENT \"Puissance_generale\"","x":526.7529296875,"y":280.25408935546875,"wires":[["3e9abf1a.37e83"]]},{"id":"bd9f3515.d6ac18","type":"inject","z":"57167a5.f304a84","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":276.0029602050781,"y":290.03961181640625,"wires":[["a8f0ba96.ee8058"]]},{"id":"c2e4ce26.a4136","type":"inject","z":"57167a5.f304a84","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":231.59522247314453,"y":861.9762001037598,"wires":[["71193010.5c8f9"]]},{"id":"bc0f5c9f.63ba6","type":"function","z":"57167a5.f304a84","name":"Fields and Tags","func":"msg.measurement= msg.payload.name.replace(/ /g,\"_\");\nmsg.payload = [{\n    value: msg.payload.value,\n    id: msg.payload.id,\n    time: msg.payload.updatetime*1000000000,\n},\n{\n    unite: msg.payload.units,\n}];\n\nreturn msg;","outputs":1,"noerr":0,"x":702.7737808227539,"y":886.4047298431396,"wires":[["4dffa056.c5551","a6e2f463.abbc48"]]},{"id":"4dffa056.c5551","type":"influxdb out","z":"57167a5.f304a84","influxdb":"74e63556.490f4c","name":"","measurement":"","x":894.3451919555664,"y":897.9761409759521,"wires":[]},{"id":"faea7cc5.ee2f","type":"json","z":"57167a5.f304a84","name":"","x":597.0951309204102,"y":990.6192378997803,"wires":[["6f1c8a3a.770894","e944097e.7f5988"]]},{"id":"aa6d3ff4.51c6d","type":"function","z":"57167a5.f304a84","name":"replace special characters","func":"msg.payload=msg.payload.replace(/é/g,\"e\");\nmsg.payload=msg.payload.replace(/è/g,\"e\");\nmsg.payload=msg.payload.replace(/ê/g,\"e\");\nmsg.payload=msg.payload.replace(/à/g,\"a\");\nmsg.payload=msg.payload.replace(/°/g,\"deg \");\nmsg.payload=msg.payload.replace(/%/g,\"percent\");\nmsg.payload=msg.payload.replace(/\\n/g,\"\");\nmsg.payload=msg.payload.replace(/\\\"\\\"/g,\"null\");\nmsg.payload=msg.payload.replace(/\\//g,\"\");\nmsg.payload=msg.payload.replace(/\\\\/g,\"\");\n\nreturn msg;","outputs":1,"noerr":0,"x":407.5237808227539,"y":1045.6190547943115,"wires":[["faea7cc5.ee2f"]]},{"id":"43432f24.ddeea","type":"influxdb in","z":"57167a5.f304a84","influxdb":"cbfba93b.4c9438","name":"create database","query":"CREATE DATABASE \"mydb\"","x":495.7142791748047,"y":133.28571319580078,"wires":[["3e9abf1a.37e83"]]},{"id":"9d7f3bf4.53d9a8","type":"inject","z":"57167a5.f304a84","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":280.9642639160156,"y":143.07123565673828,"wires":[["43432f24.ddeea"]]},{"id":"71193010.5c8f9","type":"file in","z":"57167a5.f304a84","name":"","filename":"/home/data/data_light.txt","format":"utf8","x":277.3809127807617,"y":911.4761848449707,"wires":[["6796cf19.aa105"]]},{"id":"6796cf19.aa105","type":"split","z":"57167a5.f304a84","name":"","splt":"\\n","x":290.3808364868164,"y":954.6191158294678,"wires":[["13c0c83e.73cd98"]]},{"id":"13c0c83e.73cd98","type":"function","z":"57167a5.f304a84","name":"delete empty message","func":"if (msg.payload !== \"\"){ \nreturn msg;\n}","outputs":1,"noerr":0,"x":375.3808364868164,"y":999.9048824310303,"wires":[["aa6d3ff4.51c6d"]]},{"id":"6f1c8a3a.770894","type":"delay","z":"57167a5.f304a84","name":"","pauseType":"rate","timeout":"2","timeoutUnits":"seconds","rate":"100","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":642.5624160766602,"y":940.6668453216553,"wires":[["bc0f5c9f.63ba6"]]},{"id":"e9cf9ba0.40b458","type":"influxdb in","z":"57167a5.f304a84","influxdb":"cbfba93b.4c9438","name":"delete database","query":"DROP DATABASE \"mydb\"","x":492.8957977294922,"y":181.88888549804688,"wires":[["3e9abf1a.37e83"]]},{"id":"3627086e.6efed8","type":"inject","z":"57167a5.f304a84","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":278.1457824707031,"y":191.67440795898438,"wires":[["e9cf9ba0.40b458"]]},{"id":"3e9abf1a.37e83","type":"debug","z":"57167a5.f304a84","name":"","active":true,"console":"false","complete":"payload","x":865.9408874511719,"y":261.91666412353516,"wires":[]},{"id":"2dd6d52a.511d5a","type":"comment","z":"57167a5.f304a84","name":"MANAGE DATABASE","info":"","x":557.9478912353516,"y":65.05555725097656,"wires":[]},{"id":"d03f836f.35839","type":"comment","z":"57167a5.f304a84","name":"FILL DATABASE WITH HOUSE DATA","info":"","x":545.9374694824219,"y":561.0487060546875,"wires":[]},{"id":"e944097e.7f5988","type":"debug","z":"57167a5.f304a84","name":"","active":true,"console":"false","complete":"false","x":757.6110610961914,"y":1014.8056888580322,"wires":[]},{"id":"70c6bb72.1bb774","type":"function","z":"14a6b72.f6e6f49","name":"Add dashboard","func":"msg.payload=\n{\n  \"dashboard\": {\n    \"id\": null,\n    \"title\": \"Data evolution\",\n    \"tags\": [ \"templated\" ],\n    \"timezone\": \"browser\",\n    \"schemaVersion\": 6,\n    \"version\": 0,\n    \"rows\":[]\n  },\n  \"overwrite\": true\n}\nreturn msg;","outputs":1,"noerr":0,"x":486.4998474121094,"y":432,"wires":[["7c4e8b38.440ae4"]]},{"id":"5d58c264.909e4c","type":"inject","z":"14a6b72.f6e6f49","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":175.4999237060547,"y":190,"wires":[["4129f2eb.20bdec"]]},{"id":"32de288d.5cee98","type":"http request","z":"14a6b72.f6e6f49","name":"Create datasource","method":"POST","ret":"txt","url":"visualisation:3000/api/datasources","tls":"","x":702.4999237060547,"y":164,"wires":[["4c1b908f.6a3c9"]]},{"id":"4129f2eb.20bdec","type":"function","z":"14a6b72.f6e6f49","name":"set datasource settings","func":"msg.payload =\n{\n  \"name\":\"my_datasource\",\n  \"type\":\"influxdb\",\n  \"url\":\"http://bd:8086\",\n  \"access\":\"proxy\",\n  \"basicAuth\":false,\n  \"database\":\"mydb\"\n}\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":423.4999237060547,"y":148,"wires":[["32de288d.5cee98"]]},{"id":"4c1b908f.6a3c9","type":"debug","z":"14a6b72.f6e6f49","name":"","active":true,"console":"false","complete":"payload","x":962.8332977294922,"y":134.33328247070312,"wires":[]},{"id":"e073d8b5.ba1158","type":"inject","z":"14a6b72.f6e6f49","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":141.4999542236328,"y":428,"wires":[["51829cba.6600f4"]]},{"id":"a9c37167.2a204","type":"http request","z":"14a6b72.f6e6f49","name":"Create dashboards","method":"POST","ret":"txt","url":"visualisation:3000/api/dashboards/db","tls":"","x":752.4999847412109,"y":379,"wires":[["f569d349.3182e"]]},{"id":"51829cba.6600f4","type":"influxdb in","z":"14a6b72.f6e6f49","influxdb":"cbfba93b.4c9438","name":"Get all measurements","query":"SHOW MEASUREMENTS","x":268.8956298828125,"y":494.8888854980469,"wires":[["e7ab714c.1343d"]]},{"id":"7c4e8b38.440ae4","type":"function","z":"14a6b72.f6e6f49","name":"Add rows","func":"\nvar rows = [];\n\nvar row_template;\n\nvar measurements = flow.get(\"measurements\");\n\nfor (var i=0; i<measurements.length; i++){\n    row_template = {\"collapse\": false,\n      \"height\": \"250px\",\n      \"panels\": [\n        {\n          \"aliasColors\": {},\n          \"bars\": false,\n          \"datasource\": \"my_datasource\",\n          \"fill\": 1,\n          \"id\": 1,\n          \"legend\": {\n            \"avg\": false,\n            \"current\": false,\n            \"max\": false,\n            \"min\": false,\n            \"show\": true,\n            \"total\": false,\n            \"values\": false\n          },\n          \"lines\": true,\n          \"linewidth\": 1,\n          \"links\": [],\n          \"nullPointMode\": \"null\",\n          \"percentage\": false,\n          \"pointradius\": 5,\n          \"points\": false,\n          \"renderer\": \"flot\",\n          \"seriesOverrides\": [],\n          \"span\": 12,\n          \"stack\": false,\n          \"steppedLine\": false,\n          \"targets\": [\n            {\n              \"dsType\": \"influxdb\",\n              \"groupBy\": [\n                {\n                  \"params\": [\n                    \"$interval\"\n                  ],\n                  \"type\": \"time\"\n                },\n                {\n                  \"params\": [\n                    \"null\"\n                  ],\n                  \"type\": \"fill\"\n                }\n              ],\n              \"policy\": \"default\",\n              \"query\": \"SELECT * FROM \\\"2308\\\"\",\n              \"rawQuery\": true,\n              \"refId\": \"A\",\n              \"resultFormat\": \"time_series\",\n              \"select\": [\n                [\n                  {\n                    \"params\": [\n                      \"value\"\n                    ],\n                    \"type\": \"field\"\n                  },\n                  {\n                    \"params\": [],\n                    \"type\": \"mean\"\n                  }\n                ]\n              ],\n              \"tags\": []\n            }\n          ],\n          \"thresholds\": [],\n          \"timeFrom\": null,\n          \"timeShift\": null,\n          \"title\": \"Panel Title\",\n          \"tooltip\": {\n            \"shared\": true,\n            \"sort\": 0,\n            \"value_type\": \"individual\"\n          },\n          \"type\": \"graph\",\n          \"xaxis\": {\n            \"mode\": \"time\",\n            \"name\": null,\n            \"show\": true,\n            \"values\": []\n          },\n          \"yaxes\": [\n            {\n              \"format\": \"short\",\n              \"label\": null,\n              \"logBase\": 1,\n              \"max\": null,\n              \"min\": null,\n              \"show\": true\n            },\n            {\n              \"format\": \"short\",\n              \"label\": null,\n              \"logBase\": 1,\n              \"max\": null,\n              \"min\": null,\n              \"show\": true\n            }\n          ]\n        }\n      ],\n      \"repeat\": null,\n      \"repeatIteration\": null,\n      \"repeatRowId\": null,\n      \"showTitle\": false,\n      \"title\": \"Dashboard Row\",\n      \"titleSize\": \"h6\"\n    };\n    row_template.panels[0].targets[0].query = \"SELECT \\\"value\\\" FROM \\\"\"+measurements[i].name+\"\\\"\";\n    row_template.panels[0].title = measurements[i].name;\n    rows.push(row_template);\n}\n\nmsg.payload.dashboard.rows = rows;\n    \nreturn msg;","outputs":1,"noerr":0,"x":610.9513397216797,"y":496.5486145019531,"wires":[["a9c37167.2a204"]]},{"id":"e7ab714c.1343d","type":"change","z":"14a6b72.f6e6f49","name":"","rules":[{"t":"set","p":"measurements","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":322.94786071777344,"y":542.7708740234375,"wires":[["70c6bb72.1bb774"]]},{"id":"f569d349.3182e","type":"debug","z":"14a6b72.f6e6f49","name":"","active":true,"console":"false","complete":"payload","x":974.8957977294922,"y":403.8888854980469,"wires":[]},{"id":"94ef0def.b4097","type":"comment","z":"14a6b72.f6e6f49","name":"CREATE GRAFANA DATASOURCE","info":"","x":517.9409637451172,"y":77.0451431274414,"wires":[]},{"id":"4ab4b390.b9285c","type":"comment","z":"14a6b72.f6e6f49","name":"CREATE GRAPHS DYNAMICALLY","info":"","x":508.94444274902344,"y":315.0486145019531,"wires":[]},{"id":"b0314700.d0ec68","type":"inject","z":"57167a5.f304a84","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":225.61114501953125,"y":1247.1909790039062,"wires":[["d477ff65.21b24"]]},{"id":"d477ff65.21b24","type":"openweathermap","z":"57167a5.f304a84","name":"","wtype":"forecast","lon":"","lat":"","city":"Paris","country":"France","language":"fr","x":446.56243896484375,"y":1233.1110229492188,"wires":[["bd5a094f.d85b68"]]},{"id":"bd5a094f.d85b68","type":"change","z":"57167a5.f304a84","name":"","rules":[{"t":"set","p":"meteo","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680.8646240234375,"y":1227.2916440963745,"wires":[["f75aa7af.e58998"]]},{"id":"f55b81a3.b7832","type":"influxdb out","z":"57167a5.f304a84","influxdb":"74e63556.490f4c","name":"","measurement":"","x":896.1339263916016,"y":1290.7935180664062,"wires":[]},{"id":"749ec776.9f7798","type":"function","z":"57167a5.f304a84","name":"Fields and Tags","func":"var tab = [];\n\n\nfor (var i=0; i<msg.payload.length; i++){\n\nvar point1 = {};\npoint1.measurement= \"meteo\";\npoint1.payload = [{\n    value: msg.payload[i].temp.morn,\n    time: new Date().getTime()*1000000+(24*i)*3600*1000000000,\n},\n{\n    unite: \"deg_C\",\n}];\n\nvar point2 = {};\npoint2.measurement= \"meteo\";\npoint2.payload = [{\n    value: msg.payload[i].temp.day,\n    time: new Date().getTime()*1000000+(6+24*i)*3600*1000000000,\n},\n{\n    unite: \"deg_C\",\n}];\n\nvar point3 = {};\npoint3.measurement= \"meteo\";\npoint3.payload = [{\n    value: msg.payload[i].temp.eve,\n    time: new Date().getTime()*1000000+(12+24*i)*3600*1000000000,\n},\n{\n    unite: \"deg_C\",\n}];\n\nvar point4 = {};\npoint4.measurement= \"meteo\";\npoint4.payload = [{\n    value: msg.payload[i].temp.night,\n    time: new Date().getTime()*1000000+(18+24*i)*3600*1000000000,\n},\n{\n    unite: \"deg_C\",\n}];\n\n\ntab.push(point1,point2,point3,point4);\n}\n\nreturn [tab];","outputs":1,"noerr":0,"x":677.5624542236328,"y":1295.4443969726562,"wires":[["f55b81a3.b7832","1a386800.8e13b8"]]},{"id":"7d299430.3c23dc","type":"inject","z":"57167a5.f304a84","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":225.10770416259766,"y":1317.2952156066895,"wires":[["f75aa7af.e58998"]]},{"id":"f75aa7af.e58998","type":"change","z":"57167a5.f304a84","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"meteo","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":442.6111602783203,"y":1291.7638549804688,"wires":[["749ec776.9f7798"]]},{"id":"a6e2f463.abbc48","type":"debug","z":"57167a5.f304a84","name":"","active":false,"console":"false","complete":"false","x":867.604133605957,"y":841.3368129730225,"wires":[]},{"id":"bfe312f.dfe1ff","type":"influxdb in","z":"57167a5.f304a84","influxdb":"cbfba93b.4c9438","name":"show meteo measurements","query":"SELECT* FROM \"meteo\"","x":523.8957977294922,"y":325.8888740539551,"wires":[["3e9abf1a.37e83"]]},{"id":"aae85975.c1fb08","type":"inject","z":"57167a5.f304a84","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":272.1457977294922,"y":335.6743965148926,"wires":[["bfe312f.dfe1ff"]]},{"id":"362dc0fc.05824","type":"influxdb in","z":"57167a5.f304a84","influxdb":"cbfba93b.4c9438","name":"delete meteo measurements","query":"DROP MEASUREMENT \"meteo\"","x":532.8957977294922,"y":365.8888740539551,"wires":[["3e9abf1a.37e83"]]},{"id":"d656871f.900538","type":"inject","z":"57167a5.f304a84","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":272.1458282470703,"y":375.6743965148926,"wires":[["362dc0fc.05824"]]},{"id":"722db617.e244c8","type":"comment","z":"57167a5.f304a84","name":"FILL DATABASE WITH METEO","info":"","x":508.56251525878906,"y":1153.22216796875,"wires":[]},{"id":"22555ee9.99ee52","type":"influxdb out","z":"57167a5.f304a84","influxdb":"74e63556.490f4c","name":"","measurement":"","x":955.9428253173828,"y":1699.5555782318115,"wires":[]},{"id":"10aa10ee.af468f","type":"function","z":"57167a5.f304a84","name":"Fields and Tags","func":"\nmsg.measurement= \"temperature\";\nmsg.payload = [{\n    value: msg.payload,\n    time: new Date().getTime()*1000000+(msg.count-1)*6*3600*1000000000\n},\n{\n    unite: \"deg_C\",\n}];\n\n\nreturn msg;","outputs":1,"noerr":0,"x":760.3713073730469,"y":1722.2065181732178,"wires":[["22555ee9.99ee52"]]},{"id":"cdfff83e.cbc278","type":"inject","z":"57167a5.f304a84","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"x":203.66661834716797,"y":1744.0575513839722,"wires":[["5cd6309f.bc1ba"]]},{"id":"dea5f182.6c3e6","type":"inject","z":"57167a5.f304a84","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":202.78466796875,"y":646.1111011505127,"wires":[["c8f4a9a5.344338"]]},{"id":"e3c2ae05.913e4","type":"split","z":"57167a5.f304a84","name":"","splt":"\\n","x":527.7846832275391,"y":629.4444246292114,"wires":[["5db6e389.68a58c"]]},{"id":"6c7cd886.f4af58","type":"http request","z":"57167a5.f304a84","name":"","method":"GET","ret":"txt","url":"","tls":"","x":714.6179504394531,"y":743.5555725097656,"wires":[["e2339331.8360e"]]},{"id":"5db6e389.68a58c","type":"function","z":"57167a5.f304a84","name":"Get address","func":"var msg = { payload : msg.payload.address};\nreturn msg;","outputs":1,"noerr":0,"x":679.2846565246582,"y":626.5555658340454,"wires":[["812e37f5.77f748"]]},{"id":"e926c995.000a58","type":"debug","z":"57167a5.f304a84","name":"","active":true,"console":"false","complete":"url","x":874.9513244628906,"y":660.5555572509766,"wires":[]},{"id":"812e37f5.77f748","type":"function","z":"57167a5.f304a84","name":"Get URL","func":"msg.url = \"http://remote:remote@10.0.2.3/scada-remote?m=json&r=grp&fn=find&alias=\"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":672.9513244628906,"y":683.5555572509766,"wires":[["6c7cd886.f4af58","e926c995.000a58"]]},{"id":"c8f4a9a5.344338","type":"http request","z":"57167a5.f304a84","name":"","method":"GET","ret":"txt","url":"http://remote:remote@10.0.2.3/scada-remote?m=json&r=objects","tls":"","x":372.9513244628906,"y":654.5555572509766,"wires":[["e3c2ae05.913e4"]]},{"id":"e2339331.8360e","type":"file","z":"57167a5.f304a84","name":"","filename":"/home/data/test.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","x":906.5346221923828,"y":713.4722423553467,"wires":[]},{"id":"29ac0a23.126bd6","type":"http request","z":"57167a5.f304a84","name":"","method":"GET","ret":"txt","url":"","tls":"","x":562.5346832275391,"y":1686.333288192749,"wires":[["10aa10ee.af468f","6bb27332.fd254c"]]},{"id":"5cd6309f.bc1ba","type":"counter","z":"57167a5.f304a84","name":"","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":"1","x":337.5867919921875,"y":1682.5383052825928,"wires":[["4ad2495b.e937b8","a7b1a2ed.c50eb"]]},{"id":"4ad2495b.e937b8","type":"function","z":"57167a5.f304a84","name":"set url","func":"var urls =[\"d=null&t=null\",\"d=0&t=morn\",\"d=0&t=day\",\"d=0&t=eve\",\"d=0&t=night\",\"d=1&t=morn\",\"d=1&t=day\",\"d=1&t=eve\",\"d=1&t=night\",\"d=2&t=morn\",\"d=2&t=day\",\"d=2&t=eve\",\"d=2&t=night\",\"d=3&t=morn\",\"d=3&t=day\",\"d=3&t=eve\",\"d=3&t=night\",\"d=4&t=morn\",\"d=4&t=day\",\"d=4&t=eve\"];\n\n\n\nmsg.url=\"localhost:1880/index?\"+urls[msg.count-1];\n\nif (msg.count<21){\n    return msg;}","outputs":1,"noerr":0,"x":450.5833282470703,"y":1738.642370223999,"wires":[["29ac0a23.126bd6","ccda9b83.897e78"]]},{"id":"e48d4902.22d1c8","type":"influxdb in","z":"57167a5.f304a84","influxdb":"cbfba93b.4c9438","name":"clean measurement","query":"DROP MEASUREMENT \"temperature\"","x":512.4165344238281,"y":1585.9999752044678,"wires":[[]]},{"id":"a7b1a2ed.c50eb","type":"function","z":"57167a5.f304a84","name":"1st iteration","func":"if (msg.count == 1){\nreturn msg;\n}","outputs":1,"noerr":0,"x":404.5832824707031,"y":1631.6666011810303,"wires":[["e48d4902.22d1c8"]]},{"id":"6bb27332.fd254c","type":"debug","z":"57167a5.f304a84","name":"","active":true,"console":"false","complete":"false","x":739.5833435058594,"y":1655.9999752044678,"wires":[]},{"id":"f9f0e71.e506718","type":"comment","z":"57167a5.f304a84","name":"FILL DATABASE WITH TEMPERATURE (simuated)","info":"","x":538.4166564941406,"y":1504.666784286499,"wires":[]},{"id":"23c6356e.5446aa","type":"influxdb in","z":"57167a5.f304a84","influxdb":"cbfba93b.4c9438","name":"get temperatures","query":"SELECT* FROM \"temperature\"","x":407.6666259765625,"y":2133.5833473205566,"wires":[["2556938d.b8748c"]]},{"id":"a9234896.f18618","type":"inject","z":"57167a5.f304a84","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":196.9166259765625,"y":2146.368869781494,"wires":[["23c6356e.5446aa","9ee0d5bb.9d7438"]]},{"id":"1a386800.8e13b8","type":"debug","z":"57167a5.f304a84","name":"","active":true,"console":"false","complete":"false","x":801.8333435058594,"y":1353.6666641235352,"wires":[]},{"id":"2556938d.b8748c","type":"change","z":"57167a5.f304a84","name":"","rules":[{"t":"set","p":"temperatures","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":644.8333435058594,"y":2143.5833473205566,"wires":[["5b4df93d.649218"]]},{"id":"71486022.40ff2","type":"function","z":"57167a5.f304a84","name":"compute correlation","func":"\nvar meteo = global.get(\"meteo_temp\");\nvar temp = global.get(\"temperatures\");\n\nvar corr = {};\nfor (i=0; i<4; i++){\n    corr[i*6]=0;\n    for (j=0; j<temp.length; j++){\n        if (j+i<=19){\n        corr[i*6] = corr[i*6]+meteo[j].value*temp[j+i].value;\n        }\n        else\n        {\n            corr[i*6] += 197;\n        }\n    }\n    \n}\n\nmsg.payload=corr;\nreturn msg;","outputs":1,"noerr":0,"x":918.8332824707031,"y":2149.583225250244,"wires":[["b6de348a.6f87b8"]]},{"id":"b6de348a.6f87b8","type":"debug","z":"57167a5.f304a84","name":"","active":true,"console":"false","complete":"false","x":1142.8333435058594,"y":2144.583225250244,"wires":[]},{"id":"9ee0d5bb.9d7438","type":"influxdb in","z":"57167a5.f304a84","influxdb":"cbfba93b.4c9438","name":"get meteo","query":"SELECT* FROM \"meteo\"","x":385.6666259765625,"y":2173.249973297119,"wires":[["1ed00aef.be18b5"]]},{"id":"1ed00aef.be18b5","type":"change","z":"57167a5.f304a84","name":"","rules":[{"t":"set","p":"meteo_temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":645.8333435058594,"y":2183.249973297119,"wires":[[]]},{"id":"ccda9b83.897e78","type":"debug","z":"57167a5.f304a84","name":"","active":true,"console":"false","complete":"url","x":607.5833435058594,"y":1784.9999523162842,"wires":[]},{"id":"5b4df93d.649218","type":"delay","z":"57167a5.f304a84","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":762.8333435058594,"y":2221.9165992736816,"wires":[["71486022.40ff2"]]},{"id":"6313bfc9.721d4","type":"comment","z":"57167a5.f304a84","name":"COMPUTE CORRELATION BETWEEN TEAMPERATURE AND METEO","info":"","x":568.6665954589844,"y":2027.6667785644531,"wires":[]},{"id":"f67c8991.29fb48","type":"http in","z":"57167a5.f304a84","name":"","url":"/index","method":"get","swaggerDoc":"","x":1258.3332443237305,"y":1662.499972820282,"wires":[["9f37215c.533ad"]]},{"id":"c183b0c0.549b9","type":"http response","z":"57167a5.f304a84","name":"","x":1637.9468536376953,"y":1670.1363925933838,"wires":[]},{"id":"9f37215c.533ad","type":"function","z":"57167a5.f304a84","name":"Simulates a thermometer","func":"var day = global.get(\"meteo\")[msg.req.query.d];\nvar t = msg.req.query.t;\nif (t==\"null\"){\n  msg.payload=18+Math.random()*3;\n}\nelse\n{\n  msg.payload = day.temp[t]*0.3+14+Math.random()*3;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1465.3783721923828,"y":1606.6442031860352,"wires":[["c183b0c0.549b9"]]},{"id":"10029.a8d91fd75","type":"comment","z":"57167a5.f304a84","name":"HOUSE API SIMULATION","info":"","x":1442.0832061767578,"y":1518.7500228881836,"wires":[]}]
