dashboard.json
[{"id":"861f97fd.1d1f98","type":"tab","label":"Dashboard"},{"id":"258dd2b5.1535c6","type":"function","z":"861f97fd.1d1f98","name":"","func":"msg.payload=\n{\n  \"dashboard\": {\n    \"id\": null,\n    \"title\": \"Data evolution\",\n    \"tags\": [ \"templated\" ],\n    \"timezone\": \"browser\",\n    \"rows\": [\n    {\n      \"collapse\": false,\n      \"height\": \"250px\",\n      \"panels\": [\n        {\n          \"aliasColors\": {},\n          \"bars\": false,\n          \"datasource\": \"test_datasource\",\n          \"fill\": 1,\n          \"id\": 1,\n          \"legend\": {\n            \"avg\": false,\n            \"current\": false,\n            \"max\": false,\n            \"min\": false,\n            \"show\": true,\n            \"total\": false,\n            \"values\": false\n          },\n          \"lines\": true,\n          \"linewidth\": 1,\n          \"links\": [],\n          \"nullPointMode\": \"null\",\n          \"percentage\": false,\n          \"pointradius\": 5,\n          \"points\": false,\n          \"renderer\": \"flot\",\n          \"seriesOverrides\": [],\n          \"span\": 12,\n          \"stack\": false,\n          \"steppedLine\": false,\n          \"targets\": [\n            {\n              \"dsType\": \"influxdb\",\n              \"groupBy\": [\n                {\n                  \"params\": [\n                    \"$interval\"\n                  ],\n                  \"type\": \"time\"\n                },\n                {\n                  \"params\": [\n                    \"null\"\n                  ],\n                  \"type\": \"fill\"\n                }\n              ],\n              \"policy\": \"default\",\n              \"query\": \"SELECT * FROM \\\"2308\\\"\",\n              \"rawQuery\": true,\n              \"refId\": \"A\",\n              \"resultFormat\": \"time_series\",\n              \"select\": [\n                [\n                  {\n                    \"params\": [\n                      \"value\"\n                    ],\n                    \"type\": \"field\"\n                  },\n                  {\n                    \"params\": [],\n                    \"type\": \"mean\"\n                  }\n                ]\n              ],\n              \"tags\": []\n            }\n          ],\n          \"thresholds\": [],\n          \"timeFrom\": null,\n          \"timeShift\": null,\n          \"title\": \"Panel Title\",\n          \"tooltip\": {\n            \"shared\": true,\n            \"sort\": 0,\n            \"value_type\": \"individual\"\n          },\n          \"type\": \"graph\",\n          \"xaxis\": {\n            \"mode\": \"time\",\n            \"name\": null,\n            \"show\": true,\n            \"values\": []\n          },\n          \"yaxes\": [\n            {\n              \"format\": \"short\",\n              \"label\": null,\n              \"logBase\": 1,\n              \"max\": null,\n              \"min\": null,\n              \"show\": true\n            },\n            {\n              \"format\": \"short\",\n              \"label\": null,\n              \"logBase\": 1,\n              \"max\": null,\n              \"min\": null,\n              \"show\": true\n            }\n          ]\n        }\n      ],\n      \"repeat\": null,\n      \"repeatIteration\": null,\n      \"repeatRowId\": null,\n      \"showTitle\": false,\n      \"title\": \"Dashboard Row\",\n      \"titleSize\": \"h6\"\n    }\n    ],\n    \"schemaVersion\": 6,\n    \"version\": 0\n  },\n  \"overwrite\": false\n}\nreturn msg;","outputs":1,"noerr":0,"x":265.5,"y":361,"wires":[["8756f994.f76b58"]]},{"id":"e9806bdd.5c62e8","type":"inject","z":"861f97fd.1d1f98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":124.5,"y":230,"wires":[["90a02a27.a437a8"]]},{"id":"8a7c1e2a.944da8","type":"http request","z":"861f97fd.1d1f98","name":"Create datasource","method":"POST","ret":"txt","url":"visualisation:3000/api/datasources","tls":"","x":480.5,"y":249,"wires":[["ff51b544.9c1d2"]]},{"id":"90a02a27.a437a8","type":"function","z":"861f97fd.1d1f98","name":"","func":"msg.payload =\n{\n  \"name\":\"test_datasource\",\n  \"type\":\"influxdb\",\n  \"url\":\"http://bd:8086\",\n  \"access\":\"proxy\",\n  \"basicAuth\":false,\n  \"database\":\"mydb3\"\n}\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":285.5,"y":253,"wires":[["8a7c1e2a.944da8"]]},{"id":"ff51b544.9c1d2","type":"debug","z":"861f97fd.1d1f98","name":"","active":true,"console":"false","complete":"false","x":661.8333740234375,"y":290.3332824707031,"wires":[]},{"id":"3ecff9f9.1172c6","type":"inject","z":"861f97fd.1d1f98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":105.5,"y":371,"wires":[["258dd2b5.1535c6"]]},{"id":"8756f994.f76b58","type":"http request","z":"861f97fd.1d1f98","name":"","method":"POST","ret":"txt","url":"visualisation:3000/api/dashboards/db","tls":"","x":430.5,"y":401,"wires":[["8c8b3e75.c9383"]]},{"id":"8c8b3e75.c9383","type":"debug","z":"861f97fd.1d1f98","name":"","active":true,"console":"false","complete":"payload","x":586.5,"y":435,"wires":[]}]
