influxdb_flow
[{"id":"57167a5.f304a84","type":"tab","label":"influxDB"},{"id":"7f586825.eaf868","type":"influxdb in","z":"57167a5.f304a84","influxdb":"cbfba93b.4c9438","name":"show power measurements","query":"SELECT* FROM \"Puissance_generale\"","x":529.8571472167969,"y":230.1428680419922,"wires":[["3e9abf1a.37e83"]]},{"id":"d663ccac.ac07","type":"inject","z":"57167a5.f304a84","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":278.1071472167969,"y":239.9283905029297,"wires":[["7f586825.eaf868"]]},{"id":"a8f0ba96.ee8058","type":"influxdb in","z":"57167a5.f304a84","influxdb":"cbfba93b.4c9438","name":"delete power measurements","query":"DROP MEASUREMENT \"Puissance_generale\"","x":526.7529296875,"y":280.25408935546875,"wires":[["3e9abf1a.37e83"]]},{"id":"bd9f3515.d6ac18","type":"inject","z":"57167a5.f304a84","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":276.0029602050781,"y":290.03961181640625,"wires":[["a8f0ba96.ee8058"]]},{"id":"c2e4ce26.a4136","type":"inject","z":"57167a5.f304a84","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":255.92860412597656,"y":474.6428813934326,"wires":[["71193010.5c8f9"]]},{"id":"bc0f5c9f.63ba6","type":"function","z":"57167a5.f304a84","name":"Fields and Tags","func":"msg.measurement= msg.payload.name.replace(/ /g,\"_\");\nmsg.payload = [{\n    value: msg.payload.value,\n    id: msg.payload.id,\n    time: msg.payload.updatetime*1000000000,\n},\n{\n    unite: msg.payload.units,\n}];\n\nreturn msg;","outputs":1,"noerr":0,"x":727.1071624755859,"y":499.0714111328125,"wires":[["4dffa056.c5551"]]},{"id":"4dffa056.c5551","type":"influxdb out","z":"57167a5.f304a84","influxdb":"74e63556.490f4c","name":"","measurement":"","x":918.6785736083984,"y":510.642822265625,"wires":[]},{"id":"faea7cc5.ee2f","type":"json","z":"57167a5.f304a84","name":"","x":621.4285125732422,"y":603.2859191894531,"wires":[["6f1c8a3a.770894","e944097e.7f5988"]]},{"id":"aa6d3ff4.51c6d","type":"function","z":"57167a5.f304a84","name":"replace special characters","func":"msg.payload=msg.payload.replace(/é/g,\"e\");\nmsg.payload=msg.payload.replace(/è/g,\"e\");\nmsg.payload=msg.payload.replace(/ê/g,\"e\");\nmsg.payload=msg.payload.replace(/à/g,\"a\");\nmsg.payload=msg.payload.replace(/°/g,\"deg \");\nmsg.payload=msg.payload.replace(/%/g,\"percent\");\nmsg.payload=msg.payload.replace(/\\n/g,\"\");\nmsg.payload=msg.payload.replace(/\\\"\\\"/g,\"null\");\nmsg.payload=msg.payload.replace(/\\//g,\"\");\nmsg.payload=msg.payload.replace(/\\\\/g,\"\");\n\nreturn msg;","outputs":1,"noerr":0,"x":431.85716247558594,"y":658.2857360839844,"wires":[["faea7cc5.ee2f"]]},{"id":"43432f24.ddeea","type":"influxdb in","z":"57167a5.f304a84","influxdb":"cbfba93b.4c9438","name":"create database","query":"CREATE DATABASE \"mydb\"","x":495.7142791748047,"y":133.28571319580078,"wires":[["3e9abf1a.37e83"]]},{"id":"9d7f3bf4.53d9a8","type":"inject","z":"57167a5.f304a84","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":280.9642639160156,"y":143.07123565673828,"wires":[["43432f24.ddeea"]]},{"id":"71193010.5c8f9","type":"file in","z":"57167a5.f304a84","name":"","filename":"/home/data/data_light.txt","format":"utf8","x":301.71429443359375,"y":524.1428661346436,"wires":[["6796cf19.aa105"]]},{"id":"6796cf19.aa105","type":"split","z":"57167a5.f304a84","name":"","splt":"\\n","x":314.71421813964844,"y":567.2857971191406,"wires":[["13c0c83e.73cd98"]]},{"id":"13c0c83e.73cd98","type":"function","z":"57167a5.f304a84","name":"delete empty message","func":"if (msg.payload !== \"\"){ \nreturn msg;\n}","outputs":1,"noerr":0,"x":399.71421813964844,"y":612.5715637207031,"wires":[["aa6d3ff4.51c6d"]]},{"id":"6f1c8a3a.770894","type":"delay","z":"57167a5.f304a84","name":"","pauseType":"rate","timeout":"2","timeoutUnits":"seconds","rate":"100","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":666.8957977294922,"y":553.3335266113281,"wires":[["bc0f5c9f.63ba6"]]},{"id":"e9cf9ba0.40b458","type":"influxdb in","z":"57167a5.f304a84","influxdb":"cbfba93b.4c9438","name":"delete database","query":"DROP DATABASE \"mydb\"","x":492.8957977294922,"y":181.88888549804688,"wires":[["3e9abf1a.37e83"]]},{"id":"3627086e.6efed8","type":"inject","z":"57167a5.f304a84","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":278.1457824707031,"y":191.67440795898438,"wires":[["e9cf9ba0.40b458"]]},{"id":"3e9abf1a.37e83","type":"debug","z":"57167a5.f304a84","name":"","active":true,"console":"false","complete":"payload","x":852.9409027099609,"y":199.9166717529297,"wires":[]},{"id":"2dd6d52a.511d5a","type":"comment","z":"57167a5.f304a84","name":"MANAGE DATABASE","info":"","x":557.9478912353516,"y":65.05555725097656,"wires":[]},{"id":"d03f836f.35839","type":"comment","z":"57167a5.f304a84","name":"FILE DATABASE WITH HOUSE DATA","info":"","x":539.9375152587891,"y":421.04864501953125,"wires":[]},{"id":"e944097e.7f5988","type":"debug","z":"57167a5.f304a84","name":"","active":true,"console":"false","complete":"false","x":781.9444427490234,"y":627.4723701477051,"wires":[]},{"id":"cbfba93b.4c9438","type":"influxdb","z":"","hostname":"bd","port":"8086","protocol":"http","database":"mydb","name":"","usetls":false,"tls":""},{"id":"74e63556.490f4c","type":"influxdb","z":"","hostname":"bd","port":"8086","protocol":"http","database":"mydb","name":"","usetls":false,"tls":""}]
