influxdb_flow
[{"id":"bda9f1f4.fc645","type":"tab","label":"influxDB"},{"id":"29f2ea8a.2b9bb6","type":"influxdb in","z":"bda9f1f4.fc645","influxdb":"8e2d32df.694a9","name":"show databases","query":"SELECT* FROM \"2308\"","x":522.857177734375,"y":237.1428680419922,"wires":[["80aea48b.2ffc78","1dd17c6f.599124"]]},{"id":"80aea48b.2ffc78","type":"debug","z":"bda9f1f4.fc645","name":"","active":true,"console":"false","complete":"false","x":764.1142349243164,"y":222.45536708831787,"wires":[]},{"id":"1dd17c6f.599124","type":"debug","z":"bda9f1f4.fc645","name":"","active":true,"console":"false","complete":"headers","x":758.607177734375,"y":280.4482879638672,"wires":[]},{"id":"e100de88.97a4c","type":"inject","z":"bda9f1f4.fc645","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":314.107177734375,"y":245.9283905029297,"wires":[["29f2ea8a.2b9bb6"]]},{"id":"ff002f80.6af42","type":"influxdb in","z":"bda9f1f4.fc645","influxdb":"8e2d32df.694a9","name":"drop table","query":"DROP MEASUREMENT \"2308\"","x":446.75299072265625,"y":394.2540740966797,"wires":[["900e821.fe8668","7a921ee2.7060f"]]},{"id":"900e821.fe8668","type":"debug","z":"bda9f1f4.fc645","name":"","active":true,"console":"false","complete":"false","x":708.0100479125977,"y":379.56657314300537,"wires":[]},{"id":"7a921ee2.7060f","type":"debug","z":"bda9f1f4.fc645","name":"","active":true,"console":"false","complete":"headers","x":702.5029907226562,"y":437.5594940185547,"wires":[]},{"id":"c1f4914c.320e9","type":"inject","z":"bda9f1f4.fc645","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":258.00299072265625,"y":403.0395965576172,"wires":[["ff002f80.6af42"]]},{"id":"e7204f44.6dd62","type":"inject","z":"bda9f1f4.fc645","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140.9286003112793,"y":538.6428642272949,"wires":[["3d309e41.10d622"]]},{"id":"26dde40c.90d8bc","type":"function","z":"bda9f1f4.fc645","name":"Fields and Tags","func":"msg.measurement= msg.payload.id;\nmsg.payload = [{\n    value: msg.payload.value,\n    name: msg.payload.name,\n    time: msg.payload.updatetime*1000000000,\n},\n{\n    unite: msg.payload.units,\n}];\n\nreturn msg;","outputs":1,"noerr":0,"x":547.1071434020996,"y":560.0713863372803,"wires":[["94fb10d6.3cc6a"]]},{"id":"94fb10d6.3cc6a","type":"influxdb out","z":"bda9f1f4.fc645","influxdb":"f259bb15.ebc028","name":"","measurement":"","x":783.6785659790039,"y":578.6428298950195,"wires":[]},{"id":"8c08c0fb.77ef5","type":"json","z":"bda9f1f4.fc645","name":"","x":513.4285697937012,"y":618.2857818603516,"wires":[["26dde40c.90d8bc"]]},{"id":"f2a34da9.b7858","type":"function","z":"bda9f1f4.fc645","name":"replace special characters","func":"msg.payload=msg.payload.replace(/é/g,\"e\");\nmsg.payload=msg.payload.replace(/è/g,\"e\");\nmsg.payload=msg.payload.replace(/ê/g,\"e\");\nmsg.payload=msg.payload.replace(/à/g,\"a\");\nmsg.payload=msg.payload.replace(/°/g,\"deg \");\nmsg.payload=msg.payload.replace(/%/g,\"percent\");\nmsg.payload=msg.payload.replace(/\\n/g,\"\");\nmsg.payload=msg.payload.replace(/\\\"\\\"/g,\"null\");\nmsg.payload=msg.payload.replace(/\\//g,\"\");\nmsg.payload=msg.payload.replace(/\\\\/g,\"\");\n\nreturn msg;","outputs":1,"noerr":0,"x":334.8571586608887,"y":768.2856578826904,"wires":[["8c08c0fb.77ef5"]]},{"id":"a58b502e.1d56a","type":"influxdb in","z":"bda9f1f4.fc645","influxdb":"8e2d32df.694a9","name":"create db (method 2)","query":"CREATE DATABASE \"mydb2\"","x":515.7142944335938,"y":84.28571319580078,"wires":[["4d281d74.db4574","52ef5461.e9ee2c"]]},{"id":"4d281d74.db4574","type":"debug","z":"bda9f1f4.fc645","name":"","active":true,"console":"false","complete":"false","x":736.9713516235352,"y":69.59821224212646,"wires":[]},{"id":"52ef5461.e9ee2c","type":"debug","z":"bda9f1f4.fc645","name":"","active":true,"console":"false","complete":"headers","x":734.4642715454102,"y":119.59113311767578,"wires":[]},{"id":"338bbd66.bd2cd2","type":"inject","z":"bda9f1f4.fc645","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":286.96429443359375,"y":93.07123565673828,"wires":[["a58b502e.1d56a"]]},{"id":"3d309e41.10d622","type":"file in","z":"bda9f1f4.fc645","name":"","filename":"/home/data/test.txt","format":"utf8","x":165.71428680419922,"y":587.1428556442261,"wires":[["4fbaab1.3a14354"]]},{"id":"4fbaab1.3a14354","type":"split","z":"bda9f1f4.fc645","name":"","splt":"\\n","x":275.7142868041992,"y":664.2857456207275,"wires":[["25a99896.42cb68"]]},{"id":"25a99896.42cb68","type":"function","z":"bda9f1f4.fc645","name":"delete empty message","func":"if (msg.payload !== \"\"){ \nreturn msg;\n}","outputs":1,"noerr":0,"x":325.71427154541016,"y":718.5714683532715,"wires":[["f2a34da9.b7858"]]},{"id":"8e2d32df.694a9","type":"influxdb","z":"","hostname":"bd","port":"8086","protocol":"http","database":"mydb","name":"","usetls":false,"tls":""},{"id":"f259bb15.ebc028","type":"influxdb","z":"","hostname":"bd","port":"8086","protocol":"http","database":"mydb","name":"","usetls":false,"tls":""}]
