local_api
[{"id":"d651c80d.40aed8","type":"tab","label":"rest api"},{"id":"6856c94d.196508","type":"template","z":"d651c80d.40aed8","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n  \"updatetime\": 1474434001,\n  \"id\": 2049,\n  \"disablelog\": 0,\n  \"tagcache\": \"\",\n  \"data\": 17.47,\n  \"address\": \"1/0/1\",\n  \"datahex\": \"06D3\",\n  \"units\": \" °C\",\n  \"value\": 17.47,\n  \"decoded\": true,\n  \"comment\": \"\",\n  \"name\": \"Température intérieure\",\n  \"datatype\": 9\n}","x":442.632568359375,"y":115.35353088378906,"wires":[["3d42753f.3e04ea"]]},{"id":"55e16f0.5664d9","type":"http in","z":"d651c80d.40aed8","name":"","url":"/index","method":"get","swaggerDoc":"","x":244.6325912475586,"y":148.08086013793945,"wires":[["6856c94d.196508"]]},{"id":"3d42753f.3e04ea","type":"http response","z":"d651c80d.40aed8","name":"","x":592.9962272644043,"y":150.717267036438,"wires":[]},{"id":"dea984d.ffb0e78","type":"inject","z":"d651c80d.40aed8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":217.81437301635742,"y":302.62609481811523,"wires":[["7b635a74.de29e4"]]},{"id":"7b635a74.de29e4","type":"http request","z":"d651c80d.40aed8","name":"","method":"GET","ret":"txt","url":"localhost:1880/index","tls":"","x":401.45076751708984,"y":227.1716823577881,"wires":[["9ace4530.e84c28"]]},{"id":"bdf3d162.96e98","type":"debug","z":"d651c80d.40aed8","name":"","active":true,"console":"false","complete":"false","x":744.1779747009277,"y":248.98981094360352,"wires":[]},{"id":"9ace4530.e84c28","type":"json","z":"d651c80d.40aed8","name":"","x":555.04296875,"y":297.0327548980713,"wires":[["bdf3d162.96e98"]]}]
