node-red_clipboard
[{"id":"8b119552.6cd888","type":"tab","label":"Flow 1"},{"id":"2893e818.5fea48","type":"influxdb","z":"","hostname":"bd","port":"8086","protocol":"http","database":"mydb","name":"","usetls":false,"tls":""},{"id":"52ca655a.ec039c","type":"http request","z":"8b119552.6cd888","name":"show grafana sources","method":"GET","ret":"txt","url":"visualisation:3000/api/datasources","tls":"","x":391.0994110107422,"y":174.48009490966797,"wires":[["20a46617.cd933a"]]},{"id":"20a46617.cd933a","type":"debug","z":"8b119552.6cd888","name":"","active":true,"console":"false","complete":"false","x":625.991096496582,"y":160.8888759613037,"wires":[]},{"id":"ff73289c.aa15a8","type":"inject","z":"8b119552.6cd888","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":175.9939956665039,"y":182.43086528778076,"wires":[["52ca655a.ec039c"]]},{"id":"45879fee.38b04","type":"http request","z":"8b119552.6cd888","name":"show grafana sources (second method)","method":"GET","ret":"txt","url":"172.17.0.1:32774/api/datasources","tls":"","x":439.5438766479492,"y":266.2020435333252,"wires":[["5eb22ab0.bf2ac4"]]},{"id":"5eb22ab0.bf2ac4","type":"debug","z":"8b119552.6cd888","name":"","active":true,"console":"false","complete":"false","x":719.546688079834,"y":256.4996814727783,"wires":[]},{"id":"98cda703.e5b5f8","type":"inject","z":"8b119552.6cd888","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":178.88288116455078,"y":273.81948471069336,"wires":[["45879fee.38b04"]]},{"id":"a4e4311c.6e03e","type":"http request","z":"8b119552.6cd888","name":"ping the database","method":"GET","ret":"txt","url":"bd:8086/ping","tls":"","x":386.8607711791992,"y":386.09596157073975,"wires":[["6b839d24.e53fa4","a7b4729c.6785f"]]},{"id":"e48b2a18.6b6e38","type":"inject","z":"8b119552.6cd888","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":185.0915412902832,"y":400.53282165527344,"wires":[["a4e4311c.6e03e"]]},{"id":"6b839d24.e53fa4","type":"debug","z":"8b119552.6cd888","name":"","active":true,"console":"false","complete":"payload","x":597.3137245178223,"y":363.9737949371338,"wires":[]},{"id":"a7b4729c.6785f","type":"debug","z":"8b119552.6cd888","name":"","active":true,"console":"false","complete":"headers","x":593.9803657531738,"y":410.75157928466797,"wires":[]},{"id":"9f84c8b5.4f6248","type":"http request","z":"8b119552.6cd888","name":"create database","method":"POST","ret":"txt","url":"bd:8086/query","tls":"","x":592.9881935119629,"y":522.4569883346558,"wires":[["4c108073.87382","debb39.251044c8"]]},{"id":"a0158628.2cdb28","type":"inject","z":"8b119552.6cd888","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":128.46910095214844,"y":545.1995544433594,"wires":[["147d79fa.7b8b46"]]},{"id":"4c108073.87382","type":"debug","z":"8b119552.6cd888","name":"","active":true,"console":"false","complete":"payload","x":800.6634941101074,"y":507.140513420105,"wires":[]},{"id":"debb39.251044c8","type":"debug","z":"8b119552.6cd888","name":"","active":true,"console":"false","complete":"headers","x":797.3300933837891,"y":552.8072156906128,"wires":[]},{"id":"147d79fa.7b8b46","type":"function","z":"8b119552.6cd888","name":"set parameters of the request","func":"msg.payload = {q:'CREATE DATABASE \"mydb\"'};\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":353.7610321044922,"y":536.7074708938599,"wires":[["9f84c8b5.4f6248"]]},{"id":"c728311e.a77d9","type":"influxdb in","z":"8b119552.6cd888","influxdb":"2893e818.5fea48","name":"create db (method 2)","query":"CREATE DATABASE \"mydb2\"","x":397.32598876953125,"y":621.2996711730957,"wires":[["7f4f20.6e84d0e","b6709841.4d3b88"]]},{"id":"7f4f20.6e84d0e","type":"debug","z":"8b119552.6cd888","name":"","active":true,"console":"false","complete":"false","x":618.5830459594727,"y":606.6121702194214,"wires":[]},{"id":"b6709841.4d3b88","type":"debug","z":"8b119552.6cd888","name":"","active":true,"console":"false","complete":"headers","x":616.0759658813477,"y":656.6050910949707,"wires":[]},{"id":"5899d5bb.0bba9c","type":"inject","z":"8b119552.6cd888","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":168.57598876953125,"y":630.0851936340332,"wires":[["c728311e.a77d9"]]},{"id":"1d460b91.e20284","type":"influxdb in","z":"8b119552.6cd888","influxdb":"2893e818.5fea48","name":"show databases","query":"SHOW DATABASES","x":390,"y":734.54541015625,"wires":[["4a80b3af.2e7d5c","9ee2eed7.4760e"]]},{"id":"4a80b3af.2e7d5c","type":"debug","z":"8b119552.6cd888","name":"","active":true,"console":"false","complete":"false","x":631.2570571899414,"y":719.8579092025757,"wires":[]},{"id":"9ee2eed7.4760e","type":"debug","z":"8b119552.6cd888","name":"","active":true,"console":"false","complete":"headers","x":628.7499771118164,"y":769.850830078125,"wires":[]},{"id":"61c0dfdb.64a1f","type":"inject","z":"8b119552.6cd888","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":181.25,"y":743.3309326171875,"wires":[["1d460b91.e20284"]]}]
