node-red_clipboard
[{"id":"e8c3c875.174988","type":"tab","label":"Flow 1"},{"id":"fa9e2cb9.e7ee8","type":"subflow","name":"Iterate","info":"","in":[{"x":220,"y":219,"wires":[{"id":"c40889a7.59df28"}]}],"out":[{"x":454,"y":174,"wires":[{"id":"c40889a7.59df28","port":0}]},{"x":455,"y":259,"wires":[{"id":"c40889a7.59df28","port":1}]}]},{"id":"44567056.ebe8a","type":"influxdb","z":"","hostname":"bd","port":"8086","protocol":"http","database":"mydb","name":"","usetls":false,"tls":""},{"id":"c40889a7.59df28","type":"function","z":"fa9e2cb9.e7ee8","name":"Iterate","func":"//Node has 2 outputs - 1 for itteration and 1 for completion\nvar nextObj, out;\nvar itt = msg.iterationInfo;\n\n\n//If the iterating has not yet begun set up the iteration metadata in the msg\nif (typeof itt === 'undefined') {\n    //Make sure payload is an array\n    if( Object.prototype.toString.call(msg.payload) !== '[object Array]' ) {\n       msg.payload = [msg.payload];\n    }\n\n    msg.iterationInfo = itt = {};\n    itt.index = -1;\n    itt.inArray = msg.payload;\n    itt.outArray = [];\n\n//Otherwise just push the input to the output array\n} else {\n    itt.outArray.push(msg.payload)\n}\n\n//Goto next object\nitt.index ++;\n\n//If there are stil objects left to iterate goto the next one in the original array\nif (itt.index < itt.inArray.length) {\n    nextObj = msg;\n    msg.payload = itt.inArray[itt.index];\n\n//otherwise pass the out array as the payload\n} else {\n    out = msg;\n    msg.payload = itt.outArray;\n    delete msg.iterationInfo;\n}\n\nreturn [nextObj, out];","outputs":"2","noerr":0,"x":341,"y":216,"wires":[[],[]]},{"id":"9eba3276.a8d68","type":"http request","z":"e8c3c875.174988","name":"show grafana sources","method":"GET","ret":"txt","url":"visualisation:3000/api/datasources","tls":"","x":391.0994110107422,"y":174.48009490966797,"wires":[["6cb5f491.5bb1ec"]]},{"id":"6cb5f491.5bb1ec","type":"debug","z":"e8c3c875.174988","name":"","active":true,"console":"false","complete":"false","x":625.991096496582,"y":160.8888759613037,"wires":[]},{"id":"20e145a2.2c0c4a","type":"inject","z":"e8c3c875.174988","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":175.9939956665039,"y":182.43086528778076,"wires":[["9eba3276.a8d68"]]},{"id":"9fec8626.489538","type":"http request","z":"e8c3c875.174988","name":"show grafana sources (second method)","method":"GET","ret":"txt","url":"172.17.0.1:32774/api/datasources","tls":"","x":439.5438766479492,"y":266.2020435333252,"wires":[["4ee549de.eeeb08"]]},{"id":"4ee549de.eeeb08","type":"debug","z":"e8c3c875.174988","name":"","active":true,"console":"false","complete":"false","x":719.546688079834,"y":256.4996814727783,"wires":[]},{"id":"4638ca4f.81dcb4","type":"inject","z":"e8c3c875.174988","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":178.88288116455078,"y":273.81948471069336,"wires":[["9fec8626.489538"]]},{"id":"2fa2b178.49fa1e","type":"http request","z":"e8c3c875.174988","name":"ping the database","method":"GET","ret":"txt","url":"bd:8086/ping","tls":"","x":386.8607711791992,"y":386.09596157073975,"wires":[["c19f64bc.1de4c8","e48c659c.b0bfc8"]]},{"id":"9327ed6e.2f8e6","type":"inject","z":"e8c3c875.174988","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":185.0915412902832,"y":400.53282165527344,"wires":[["2fa2b178.49fa1e"]]},{"id":"c19f64bc.1de4c8","type":"debug","z":"e8c3c875.174988","name":"","active":true,"console":"false","complete":"payload","x":597.3137245178223,"y":363.9737949371338,"wires":[]},{"id":"e48c659c.b0bfc8","type":"debug","z":"e8c3c875.174988","name":"","active":true,"console":"false","complete":"headers","x":593.9803657531738,"y":410.75157928466797,"wires":[]},{"id":"9e799701.89b958","type":"http request","z":"e8c3c875.174988","name":"create database","method":"POST","ret":"txt","url":"bd:8086/query","tls":"","x":592.9881935119629,"y":522.4569883346558,"wires":[["a19d727e.f4783","c98dc811.18b908"]]},{"id":"7f147f8e.30fe4","type":"inject","z":"e8c3c875.174988","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":128.46910095214844,"y":545.1995544433594,"wires":[["d2963960.0d20f8"]]},{"id":"a19d727e.f4783","type":"debug","z":"e8c3c875.174988","name":"","active":true,"console":"false","complete":"payload","x":800.6634941101074,"y":507.140513420105,"wires":[]},{"id":"c98dc811.18b908","type":"debug","z":"e8c3c875.174988","name":"","active":true,"console":"false","complete":"headers","x":797.3300933837891,"y":552.8072156906128,"wires":[]},{"id":"d2963960.0d20f8","type":"function","z":"e8c3c875.174988","name":"set parameters of the request","func":"msg.payload = {q:'CREATE DATABASE \"mydb\"'};\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":353.7610321044922,"y":536.7074708938599,"wires":[["9e799701.89b958"]]},{"id":"2b021248.3fdc3e","type":"influxdb in","z":"e8c3c875.174988","influxdb":"44567056.ebe8a","name":"create db (method 2)","query":"CREATE DATABASE \"mydb2\"","x":397.32598876953125,"y":621.2996711730957,"wires":[["bb8ea56f.ed3858","61ed0c63.c7f124"]]},{"id":"bb8ea56f.ed3858","type":"debug","z":"e8c3c875.174988","name":"","active":true,"console":"false","complete":"false","x":618.5830459594727,"y":606.6121702194214,"wires":[]},{"id":"61ed0c63.c7f124","type":"debug","z":"e8c3c875.174988","name":"","active":true,"console":"false","complete":"headers","x":616.0759658813477,"y":656.6050910949707,"wires":[]},{"id":"958b2e20.f2b85","type":"inject","z":"e8c3c875.174988","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":168.57598876953125,"y":630.0851936340332,"wires":[["2b021248.3fdc3e"]]},{"id":"7fdb449e.4aef3c","type":"influxdb in","z":"e8c3c875.174988","influxdb":"44567056.ebe8a","name":"show databases","query":"SHOW DATABASES","x":390,"y":734.54541015625,"wires":[["eefd87fe.9532c8","ff3b2fbb.f5f2f"]]},{"id":"eefd87fe.9532c8","type":"debug","z":"e8c3c875.174988","name":"","active":true,"console":"false","complete":"false","x":631.2570571899414,"y":719.8579092025757,"wires":[]},{"id":"ff3b2fbb.f5f2f","type":"debug","z":"e8c3c875.174988","name":"","active":true,"console":"false","complete":"headers","x":628.7499771118164,"y":769.850830078125,"wires":[]},{"id":"9adab8f6.fae738","type":"inject","z":"e8c3c875.174988","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":181.25,"y":743.3309326171875,"wires":[["7fdb449e.4aef3c"]]},{"id":"e78c326a.89cb6","type":"function","z":"e8c3c875.174988","name":"2messages","func":"var msg1 = { payload:\"CREATE DATABASE mydb5\" };\nvar msg2 = { payload:\"CREATE DATABASE mydb6\" };\nreturn [[msg1, msg2]];","outputs":1,"noerr":0,"x":250.7222137451172,"y":949.3610939979553,"wires":[["73a7e007.ab306"]]},{"id":"6c612b3d.021cd4","type":"inject","z":"e8c3c875.174988","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":113.61111450195312,"y":874.3055429458618,"wires":[["e78c326a.89cb6"]]},{"id":"83bc5e10.ea0e4","type":"debug","z":"e8c3c875.174988","name":"","active":true,"console":"false","complete":"payload","x":710,"y":882,"wires":[]},{"id":"f8487a3c.7455a8","type":"influxdb in","z":"e8c3c875.174988","influxdb":"44567056.ebe8a","name":"create db (method 2)","query":"","x":540.3333358764648,"y":945.222246170044,"wires":[["83bc5e10.ea0e4"]]},{"id":"73a7e007.ab306","type":"function","z":"e8c3c875.174988","name":"set query","func":"msg.query=msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":392.2222328186035,"y":872.2222690582275,"wires":[["f8487a3c.7455a8"]]},{"id":"d8c91d35.d5c5d","type":"function","z":"e8c3c875.174988","name":"inject json","func":"var msg = {payload:[\n  {\n    \"id\": 2308,\n    \"address\": \"1/1/4\",\n    \"data\": 176,\n    \"datatype\": 14,\n    \"date\": \"Sun, 25 Dec 2016 20:46:04 +0100\",\n    \"comment\": \"\",\n    \"name\": \"Puissance générale\",\n    \"time\": 1482695164\n  },\n  {\n    \"id\": 2309,\n    \"address\": \"1/1/5\",\n    \"data\": 1448061,\n    \"datatype\": 14,\n    \"date\": \"Sun, 25 Dec 2016 20:45:59 +0100\",\n    \"comment\": \"\",\n    \"name\": \"Energie générale\",\n    \"time\": 1482695159\n  }]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":283.33333587646484,"y":1103.33304977417,"wires":[["e04690c3.7237c"]]},{"id":"b5303262.453cc","type":"inject","z":"e8c3c875.174988","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":123.33334350585938,"y":1115.5555438995361,"wires":[["d8c91d35.d5c5d"]]},{"id":"b56ce4d1.6951f8","type":"debug","z":"e8c3c875.174988","name":"","active":true,"console":"false","complete":"false","x":622.222240447998,"y":1120.0001125335693,"wires":[]},{"id":"e04690c3.7237c","type":"split","z":"e8c3c875.174988","name":"","splt":"\\n","x":448.33335876464844,"y":1098.8888673782349,"wires":[["b56ce4d1.6951f8"]]}]
