node-red_clipboard
[{"id":"fa9e2cb9.e7ee8","type":"subflow","name":"Iterate","info":"","in":[{"x":220,"y":219,"wires":[{"id":"c40889a7.59df28"}]}],"out":[{"x":454,"y":174,"wires":[{"id":"c40889a7.59df28","port":0}]},{"x":455,"y":259,"wires":[{"id":"c40889a7.59df28","port":1}]}]},{"id":"c40889a7.59df28","type":"function","z":"fa9e2cb9.e7ee8","name":"Iterate","func":"//Node has 2 outputs - 1 for itteration and 1 for completion\nvar nextObj, out;\nvar itt = msg.iterationInfo;\n\n\n//If the iterating has not yet begun set up the iteration metadata in the msg\nif (typeof itt === 'undefined') {\n    //Make sure payload is an array\n    if( Object.prototype.toString.call(msg.payload) !== '[object Array]' ) {\n       msg.payload = [msg.payload];\n    }\n\n    msg.iterationInfo = itt = {};\n    itt.index = -1;\n    itt.inArray = msg.payload;\n    itt.outArray = [];\n\n//Otherwise just push the input to the output array\n} else {\n    itt.outArray.push(msg.payload)\n}\n\n//Goto next object\nitt.index ++;\n\n//If there are stil objects left to iterate goto the next one in the original array\nif (itt.index < itt.inArray.length) {\n    nextObj = msg;\n    msg.payload = itt.inArray[itt.index];\n\n//otherwise pass the out array as the payload\n} else {\n    out = msg;\n    msg.payload = itt.outArray;\n    delete msg.iterationInfo;\n}\n\nreturn [nextObj, out];","outputs":"2","noerr":0,"x":341,"y":216,"wires":[[],[]]},{"id":"23f62cc0.fd7584","type":"tab","label":"Flow 1"},{"id":"4f8e647.92e4c9c","type":"http request","z":"23f62cc0.fd7584","name":"show grafana sources","method":"GET","ret":"txt","url":"visualisation:3000/api/datasources","tls":"","x":391.0994110107422,"y":174.48009490966797,"wires":[["6785c4ce.8bba2c"]]},{"id":"6785c4ce.8bba2c","type":"debug","z":"23f62cc0.fd7584","name":"","active":true,"console":"false","complete":"false","x":625.991096496582,"y":160.8888759613037,"wires":[]},{"id":"3355f868.999be8","type":"inject","z":"23f62cc0.fd7584","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":175.9939956665039,"y":182.43086528778076,"wires":[["4f8e647.92e4c9c"]]},{"id":"a6a827d.ab9c2d8","type":"http request","z":"23f62cc0.fd7584","name":"show grafana sources (second method)","method":"GET","ret":"txt","url":"172.17.0.1:32774/api/datasources","tls":"","x":439.5438766479492,"y":266.2020435333252,"wires":[["fbc39bae.912eb8"]]},{"id":"fbc39bae.912eb8","type":"debug","z":"23f62cc0.fd7584","name":"","active":true,"console":"false","complete":"false","x":719.546688079834,"y":256.4996814727783,"wires":[]},{"id":"d288e828.12c058","type":"inject","z":"23f62cc0.fd7584","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":178.88288116455078,"y":273.81948471069336,"wires":[["a6a827d.ab9c2d8"]]},{"id":"294037b2.0a1aa8","type":"http request","z":"23f62cc0.fd7584","name":"ping the database","method":"GET","ret":"txt","url":"bd:8086/ping","tls":"","x":386.8607711791992,"y":386.09596157073975,"wires":[["1b227448.e0a9fc","da8f8698.82f438"]]},{"id":"660688a9.62baa8","type":"inject","z":"23f62cc0.fd7584","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":185.0915412902832,"y":400.53282165527344,"wires":[["294037b2.0a1aa8"]]},{"id":"1b227448.e0a9fc","type":"debug","z":"23f62cc0.fd7584","name":"","active":true,"console":"false","complete":"payload","x":597.3137245178223,"y":363.9737949371338,"wires":[]},{"id":"da8f8698.82f438","type":"debug","z":"23f62cc0.fd7584","name":"","active":true,"console":"false","complete":"headers","x":593.9803657531738,"y":410.75157928466797,"wires":[]},{"id":"fb9f7d.a5cab08","type":"http request","z":"23f62cc0.fd7584","name":"create database","method":"POST","ret":"txt","url":"bd:8086/query","tls":"","x":592.9881935119629,"y":522.4569883346558,"wires":[["161fc6cf.4ff9d9","2ee100f3.0ca51"]]},{"id":"81c04b4e.89c398","type":"inject","z":"23f62cc0.fd7584","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":128.46910095214844,"y":545.1995544433594,"wires":[["c2da2173.d955"]]},{"id":"161fc6cf.4ff9d9","type":"debug","z":"23f62cc0.fd7584","name":"","active":true,"console":"false","complete":"payload","x":800.6634941101074,"y":507.140513420105,"wires":[]},{"id":"2ee100f3.0ca51","type":"debug","z":"23f62cc0.fd7584","name":"","active":true,"console":"false","complete":"headers","x":797.3300933837891,"y":552.8072156906128,"wires":[]},{"id":"c2da2173.d955","type":"function","z":"23f62cc0.fd7584","name":"set parameters of the request","func":"msg.payload = {q:'CREATE DATABASE \"mydb\"'};\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":353.7610321044922,"y":536.7074708938599,"wires":[["fb9f7d.a5cab08"]]},{"id":"4905358c.8f95cc","type":"influxdb in","z":"23f62cc0.fd7584","influxdb":"44567056.ebe8a","name":"create db (method 2)","query":"CREATE DATABASE \"mydb2\"","x":397.32598876953125,"y":621.2996711730957,"wires":[["9b97dc27.f9c74","b015c7ca.cccd08"]]},{"id":"9b97dc27.f9c74","type":"debug","z":"23f62cc0.fd7584","name":"","active":true,"console":"false","complete":"false","x":618.5830459594727,"y":606.6121702194214,"wires":[]},{"id":"b015c7ca.cccd08","type":"debug","z":"23f62cc0.fd7584","name":"","active":true,"console":"false","complete":"headers","x":616.0759658813477,"y":656.6050910949707,"wires":[]},{"id":"667d1eb.34c01e","type":"inject","z":"23f62cc0.fd7584","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":168.57598876953125,"y":630.0851936340332,"wires":[["4905358c.8f95cc"]]},{"id":"6919ade4.e014f4","type":"influxdb in","z":"23f62cc0.fd7584","influxdb":"44567056.ebe8a","name":"show databases","query":"SHOW DATABASES","x":390,"y":734.54541015625,"wires":[["77e3347.34eddcc","cb7f47c2.611788"]]},{"id":"77e3347.34eddcc","type":"debug","z":"23f62cc0.fd7584","name":"","active":true,"console":"false","complete":"false","x":631.2570571899414,"y":719.8579092025757,"wires":[]},{"id":"cb7f47c2.611788","type":"debug","z":"23f62cc0.fd7584","name":"","active":true,"console":"false","complete":"headers","x":628.7499771118164,"y":769.850830078125,"wires":[]},{"id":"f1bc7291.9574","type":"inject","z":"23f62cc0.fd7584","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":181.25,"y":743.3309326171875,"wires":[["6919ade4.e014f4"]]},{"id":"b0fcdb91.b7b9a8","type":"function","z":"23f62cc0.fd7584","name":"2messages","func":"var msg1 = { payload:\"CREATE DATABASE mydb3\" };\nvar msg2 = { payload:\"CREATE DATABASE mydb4\" };\nreturn [[msg1, msg2]];","outputs":1,"noerr":0,"x":278.5,"y":938.25,"wires":[["a4e8229b.cc1df"]]},{"id":"9b8e102.ecd53f","type":"inject","z":"23f62cc0.fd7584","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":142.50000381469727,"y":878.7500133514404,"wires":[["b0fcdb91.b7b9a8"]]},{"id":"62a5ebe6.51a294","type":"debug","z":"23f62cc0.fd7584","name":"","active":true,"console":"false","complete":"payload","x":710,"y":882,"wires":[]},{"id":"a4e8229b.cc1df","type":"subflow:fa9e2cb9.e7ee8","z":"23f62cc0.fd7584","name":"Iterate","x":398,"y":883,"wires":[["e637dd9f.2c3b1"],[]]},{"id":"5dfea04d.daf8e","type":"influxdb in","z":"23f62cc0.fd7584","influxdb":"44567056.ebe8a","name":"create db (method 2)","query":"","x":567,"y":943,"wires":[["62a5ebe6.51a294"]]},{"id":"e637dd9f.2c3b1","type":"function","z":"23f62cc0.fd7584","name":"test","func":"msg.query=msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1018.8888888888889,"wires":[["5dfea04d.daf8e"]]},{"id":"44567056.ebe8a","type":"influxdb","z":"","hostname":"bd","port":"8086","protocol":"http","database":"mydb","name":"","usetls":false,"tls":""}]
