request_spacelynk.json
[{"id":"a782d8c8.79c2a8","type":"tab","label":"Requests_spacelynk"},{"id":"a4ed795e.323e","type":"inject","z":"a782d8c8.79c2a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"x":98.888916015625,"y":163.3333282470703,"wires":[["7389fb9e.7fe0cc"]]},{"id":"92143e01.5f681","type":"split","z":"a782d8c8.79c2a8","name":"","splt":"\\n","x":562.77783203125,"y":155.55552673339844,"wires":[["8c8421d6.ddd5f8","ae23387a.857c4"]]},{"id":"1c29cf46.730501","type":"http request","z":"a782d8c8.79c2a8","name":"","method":"GET","ret":"txt","url":"","tls":"","x":858.5000610351562,"y":243.55557250976562,"wires":[["a32e712d.f13d4"]]},{"id":"8c8421d6.ddd5f8","type":"function","z":"a782d8c8.79c2a8","name":"Get address","func":"var msg = { payload : msg.payload.address};\nreturn msg;","outputs":1,"noerr":0,"x":728.1666259765625,"y":123.77776336669922,"wires":[["e47f1229.4d39"]]},{"id":"16574949.ca2587","type":"debug","z":"a782d8c8.79c2a8","name":"","active":false,"console":"false","complete":"url","x":895.5001220703125,"y":33.33332824707031,"wires":[]},{"id":"e47f1229.4d39","type":"function","z":"a782d8c8.79c2a8","name":"Get URL","func":"msg.url = \"http://remote:remote@10.0.2.3/scada-remote?m=json&r=grp&fn=find&alias=\"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":870.1666870117188,"y":179.66661071777344,"wires":[["1c29cf46.730501","16574949.ca2587"]]},{"id":"7389fb9e.7fe0cc","type":"http request","z":"a782d8c8.79c2a8","name":"","method":"GET","ret":"txt","url":"http://remote:remote@10.0.2.3/scada-remote?m=json&r=objects","tls":"","x":260.4230651855469,"y":164.683837890625,"wires":[["1d0078a7.2578b7"]]},{"id":"a32e712d.f13d4","type":"file","z":"a782d8c8.79c2a8","name":"","filename":"/home/data/test.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":836.5277099609375,"y":316.8055725097656,"wires":[]},{"id":"a397a6c9.101fe8","type":"http request","z":"a782d8c8.79c2a8","name":"","method":"GET","ret":"txt","url":"http://remote:remote@10.0.2.3/scada-remote?m=json&r=objects","tls":"","x":294.77777099609375,"y":407.0000305175781,"wires":[["dda4629c.e5e418","2d65f8fc.9d72d"]]},{"id":"15944432.25f324","type":"inject","z":"a782d8c8.79c2a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":121.77777099609375,"y":402.0000305175781,"wires":[["a397a6c9.101fe8"]]},{"id":"dda4629c.e5e418","type":"debug","z":"a782d8c8.79c2a8","name":"","active":true,"console":"false","complete":"payload","x":462.77777099609375,"y":396.0000305175781,"wires":[]},{"id":"ae23387a.857c4","type":"debug","z":"a782d8c8.79c2a8","name":"","active":true,"console":"false","complete":"false","x":599.3888549804688,"y":42.77777862548828,"wires":[]},{"id":"1d0078a7.2578b7","type":"json","z":"a782d8c8.79c2a8","name":"","x":423.3888854980469,"y":140.66665649414062,"wires":[["92143e01.5f681"]]},{"id":"2d65f8fc.9d72d","type":"file","z":"a782d8c8.79c2a8","name":"","filename":"/home/data/objects.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":435.9595642089844,"y":466.3635559082031,"wires":[]}]
